.layout {
    &__header {
        height: $unit * 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: $unit;
    }

    &__main {
    }

    &__post-cover {
        background-repeat: no-repeat;
        position: absolute;
        background-size: 130%;
        background-position: center center;
        opacity: 0.08;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        filter: blur(25px);
    }

    &__footer {
        display: flex;
        padding: $unit * 2 0;
        flex-direction: column;
        justify-content: center;
    }

    &__section {
        margin-bottom: $unit * 7;
    }
}
