.main-menu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0;
    &__link {
        @extend .link, .link_text;
        white-space: nowrap;
        font-family: $font-family-accent;
        text-transform: uppercase;
        font-size: 18px;
        &:not(:last-child) {
            margin-right: $unit;
        }
        &_active {
            @include link-variant(lighten($color-primary, 10));
            border: none;
        }
    }
    &__search-link {
        @extend .link, .link_text;
        white-space: nowrap;
        font-family: $font-family-accent;
        text-transform: uppercase;
        border-bottom: none;
        font-size: 18px;
        &:not(:last-child) {
            margin-right: $unit;
        }
        &_active {
            @include link-variant(lighten($color-primary, 10));
            border: none;
        }
    }
}
